input[type="date"] {
  border: 2px solid #f1f1f1;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #151515;
  margin-top: 1.5em;
  color-scheme: dark;
  color: #f1f1f1;
  opacity: 0;
  transition: all 0.5s ease-in;
}

input[type="date"]:focus {
  outline: none;
  border-bottom-color: orange;
}
